<html>
    <head>
        <title>AWS Plus</title>

        <!-- jQuery and UI -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">

        <!-- javascript/css for this app -->
        <script src="/frontend/js/awsplus.js"></script>
        <link rel="stylesheet" href="/frontend/css/awsplus.css" />

    </head>
    <body>
        <h3>AWS Plus</h3>
        <ul>
            <li><a href="/list">List all Security Groups</a></li>
            <li><a href="/list/vpc-0a44f66f">List all Development Security Groups</a></li>
            <li><a href="/list/vpc-95c0d7f0">List all Production Security Groups</a></li>
        </ul>
    </body>
</html>
